<!-- table 1 Qualified lead/my meeting start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 search-hero">
            <input class="form-control highlight" type="text"  name="search"  autocomplete="off"
              placeholder="&#61442;  Start searching for a user by Enquiry id or name or Phone">
          </div>
        <div class="col-lg-12 col-md-12">
            <table class="table table-hover tableclass">
                <thead class="table-row theadclass">
                    <tr>
                        <th scope="col">Enquiry id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Region</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row" data-toggle="modal" data-target="#QualifiedLead" *ngFor="let userData of storedLeadData">
                        <td scope="row">{{userData.enqueryId}}</td>
                        <td>{{userData.customerName}}</td>
                        <td>{{userData.emailId}}</td>
                        <td>{{userData.mobile}}</td>
                        <td>{{userData.region}}</td>
                        <td>
                          <span class="badge badge-info">{{userData.leadStatus}}</span>
                        </td>
                        <td><button type="button" class="btn btn-primary button-class" data-toggle="modal" data-target="#QualifiedLead" (click)=openModal(userData)>Accept</button></td>
                      </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal qualified lead popup -->
<div class="modal fade" id="QualifiedLead" tabindex="-1" role="dialog" aria-labelledby="QualifiedLead"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Qualified lead</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <fieldset>
            <legend>{{enqueryId}}</legend>
            <div class="panel panel-default">
              <div class="panel-body">
                <!-- username input -->
                <div class="form-group row">
                  <label for="staticName" class="col-sm-2 col-form-label">NAME</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="staticName" placeholder="username" value="{{customerName}}">
                  </div>
                </div>
                <!-- email input -->
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">EMAIL</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="staticEmail" placeholder="email@example.com" value="{{emailId}}">
                  </div>
                </div>
                <!-- telephone input -->
                <div class="form-group row">
                  <label for="example-tel-input" class="col-2 col-form-label">PHONE</label>
                  <div class="col-10">
                    <input class="form-control" type="tel" placeholder="(+91)-900500400" id="example-tel-input" value="{{mobile}}">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <!-- end of fieldset -->
          <br>
              <div class="form-group row">
                  <label for="example-datetime-local-input" class="col-2 col-form-label">Date</label>
                  <div class="col-10">
                    <input class="form-control" type="datetime-local" value="2011-08-19"
                      id="example-datetime-local-input">
                  </div>
              </div>
              <div class="form-group row">
                    <label for="example-datetime-local-input" class="col-2 col-form-label">Time</label>
                    <div class="col-10">
                      <div class="form-group col-md-6 pad" >
                        <select class="form-control dropdownclass" id="sel1">
                          <option id="sel1">New Delhi</option>
                          <option>Bangalore</option>
                          <option>Mumbai</option>
                          <option>Hyderabad</option>
                        </select>
                      </div>
                    </div>
              </div>
             <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Status</label>
                <div class="col-10">
                  <div class="form-group col-md-6 pad" >
                    <select class="form-control dropdownclass" id="sel1">
                      <option id="sel1">New</option>
                      <option>Scheduled Meetings</option>
                      <option>Closed</option>
                      <option>Dropped</option>
                    </select>
                  </div>
                </div>
            </div>
            <p>Location: {{location}}</p>
        </form>
      </div>
      <div class="modal-footer btn-center">
        <button type="button" class="btn btn-primary button-class">CREATE</button>
      </div>
    </div>
  </div>
</div>