.dropdownclass{
    width:60%;
 }
 .pad{
    padding: 0%;
 }
 .tableclass{
    border: 1px solid silver;
 }
 .theadclass{
    background-color: #fafaf7;
    color: #3e3e3e;
 }
 .table-row{
    text-align: -webkit-center;
 }
 .button-class{
    background-color: #17a2b8;
    border-color: none;
 }
 .row-class{
    width:10%;
 }
 .dropdown-width{
    width:290%;
 }
 fieldset
 {
   border: 1px solid #ddd !important;
   margin: 0;
   min-width: 0;
   padding: 10px;
   position: relative;
   border-radius:4px;
   background-color:#f5f5f5;
   padding-left:10px!important;
 }
 
   legend
   {
       font-size:14px;
       font-weight:bold;
       margin-bottom: 0px;
       width: 35%;
       border: 1px solid #ddd;
       border-radius: 4px;
       padding: 5px 5px 5px 10px;
       background-color: #ffffff;
   }
 
   .form-control-plaintext {
       background-color: white !important;
   }
 
   .label-align{
       text-align:center;
   }
 
   .btn-center{
       justify-content: center;
   }

    // search filter css
    .search-hero {
        max-width: 500px;
        padding-bottom: 50px;
        margin:auto;
      }
      
      .highlight {
        box-shadow: 0 10px 40px 0 #B0C1D9;
      }
      .form-control::placeholder  {
        font-family: FontAwesome;
      }