<nav class="navbar navbar-expand-lg fixed-top">
        <img  src="../../../assets/images/logo/logo.svg" width="9%">
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fa fa-bars text-muted" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
           <li class="nav-item dropdown" ngbDropdown>
                  <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                      <i class="fa fa-user"></i> Sign out<b class="caret"></b>
                  </a>
              </li>
          </ul>
      </div>
    </nav>
    