<table class="table table-hover tableclass">

    <thead class="theadclass">
   
      <tr class="table-row">
        <th scope="col">SL.No</th>
        <th scope="col">Designer Name</th>
        <th scope="col">Month</th>
        <th scope="col">Number of projects</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
  
      </tr>
      <tr class="table-row">
        <th scope="row">2</th>
        <td>Jacob harisg</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>