<!-- Common closed visible table -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="table table-hover tableclass">
                <thead class="theadclass">
                    <tr class="table-row">
                        <th scope="col">Enquiry id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Status</th>
                        <th scope="col">Designer Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <span class="badge badge-info">Closed</span>
                        </td>
                        <td>Designer</td>
                    </tr>
                    <tr class="table-row">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td></td>
                        <td>Designer</td>   
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>

<!-- Common closed visible table end -->

<!-- Designer closed table start  -->

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <table class="table table-hover tableclass">
                    <thead class="theadclass">
                        <tr class="table-row">
                            <th scope="col">Enquiry id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <span class="badge badge-info">Closed</span>
                            </td>
                        </tr>
                        <tr class="table-row">
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td></td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
  
  <!-- Designer closed table end -->