<div class="container">
    <div class="row marginTop marginBtm ">
        <div
            class=" col-md-6 col-lg-6 col-sm-6 col-xl-6 d-none   d-md-block d-lg-block d-xl-block login-form-1 col1  w-100 ">
            <img src="../../assets/images/logo/erpdev1.png " class="img-responsive  w-100 " />
        </div>
        <!--login form column-->

        <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6 login-form-2 col-xl-6 col2 ">
            <div class="text-center w-100 mt-5">
                <img src="../../assets/images/logo/logo.svg" class="img-responsive ">
            </div>

            <!-- form starts -->
            <form class="mt-5 form-signin" #loginForm="ngForm" (ngSubmit)="authenticateUser(loginForm.value)">
                <div class="form-group  mt-5 mb-5">
                    <input type="text" name="inputUsername" id="inputUsername" class="form-control"
                        placeholder="username *" #inputUsername="ngModel" required ngModel>
                </div>

                <div class="form-group mt-5 mb-5">
                    <input type="password" name="inputPassword" #inputPassword="ngModel" id="inputPassword"
                        class="form-control" placeholder="password *" required ngModel>
                </div>

                <div *ngIf="!loginForm.valid else showSubmitButton">
                    <button class="btn btn-block btn-lg" type="submit" disabled>login</button>
                </div>

                <ng-template #showSubmitButton>
                    <button class="btn btn-block btn-lg btn-primary addBg" type="submit">login</button>
                </ng-template>
            </form>
            <br><br>
            <div class="alert alert-danger" *ngIf="error">
                Bad username password. {{ errorMessage }}
            </div>

        </div>
    </div>

</div>