.col1{
  border-radius: 20px 0 0 20px; 
}
.col2{
  border-radius: 0 20px 20px 0;
}

.login-form-1{
  
  background-color: #13BFCB;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  
}
.login-form-2{
  
  background: #FAF9F7;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Nexa Bold',"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 400;
  
  
}
.marginTop{
  margin-top: 0%;
}
.form-control
{
   background: #FAF9F7;
  
}
.Button
{
    margin-top: 48px;
}
.button{
  width: 50%;
  color: #fff;
  font-weight: 400;
  background-color: #13BFCB;
  border: none;
  border-radius: 20px;
  padding:2%;
  font-family: 'Nexa Bold',"Helvetica Neue",Helvetica,sans-serif;
  font-size: 1.5rem ; 
}
.btnForgetPwd{
  color: black;
  font-weight: 400;
  text-decoration: none;
}
.btnForgetPwd:hover{
  text-decoration:none;
  color: #13BFCB;
}
.button:hover
{
  background-image: linear-gradient(-90deg,#13BFCB 0,#2B9CD0 100%);
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) and (max-width: 600.98px) {
  .col1{
  border-radius: 10px;
}
.col2{
  border-radius: 10px;
}
.marginTop{
  margin-top: 30%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .marginTop{
      margin-top: 4%;
  }
      
}