.colclass{
    width:50%;
}
.column{
    text-align: -webkit-center;
}
.button{
    background-color: #17a2b8;
    border-color: none;
}
.tableclass{
    border: 1px solid silver;
}
.table-row{
    text-align: -webkit-center;
}
.theadclass{
    background-color: #fafaf7;
    color: #3e3e3e;
}