<div class="container">
    <form>
    <div class="form-group row">
      <div class="col-md-3 col-lg-3">
          <div class="form-group row">
              <label for="Date" class="col-xs-3 col-form-label mr-2">Date</label>
              <div class="col-xs-9">
              <input type="text" class="form-control" id="datepicker" width="270" name="first_name">
              </div>
          </div>
      </div>
      <div class="col-md-3 col-lg-3">
          <div class="form-group row">
              <label for="Time" class="col-xs-3 col-form-label mr-2">Time</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" id="Time" name="last_name">
            </div>
          </div>
      </div>
      <div class="col-md-3 col-lg-3">
          <div>
              <label for="Time" class="col-xs-3 col-form-label mr-2">Location</label>
              <select class="custom-select col-xs-9 colclass">
              <option selected>Bangalore</option>
              <option value="1">Mumbai</option>
              <option value="2">New Delhi</option>
              </select>  
          </div>
      </div>
      <div class="col-md-3 col-lg-3 column">
          <div>
              <button type="submit" class="btn btn-primary button">Create</button>
          </div>
      </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-12" style="display: flex;">
            <div class="col-2" style="text-align: left;"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="col-8" style="text-align: center;">04/06/2019</div>
            <div class="col-2" style="text-align: right;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>   
        </div>
        
    <table class="table table-hover tableclass">
    
        <thead class="theadclass">
       
          <tr class="table-row">
            <th scope="col">SL.No</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
      
          </tr>
          <tr class="table-row">
            <th scope="row">2</th>
            <td>Jacob harisg</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>
    </div>
    </form>
    </div>
    