<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <!-- Lead mangement-->
  <div class="list-group">
    <span style="color: #fff; background-color: #3e3e3e; padding: 2% 6%;">Lead Mangment</span>

    <a [routerLink]="['quilifiedlead']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/Lead meeting _icon.svg" width="10%">&nbsp;
      <span>Qulified Leads <span class="badge badge-info">6</span></span>
    </a>
    <a routerLink="schedulemeeting" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/scheduled meeting_icon.svg" width="10%">&nbsp;
      <span>Scheduled Meeting <span class="badge badge-info">6</span></span>
    </a>
    <a routerLink="followupmeeting" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/Lead meeting _icon.svg" width="10%">&nbsp;
      <span>Followup Meeting <span class="badge badge-info">6</span></span>
    </a>
    <a routerLink="closed" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/closed_icon.svg" width="10%">&nbsp;
      <span>Closed</span>
    </a>
    <a routerLink="dropped" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/dropped_icon.svg" width="10%">&nbsp;
      <span>Dropped</span>
    </a>
  </div>
  <!-- my meeting-->
  <div class="list-group">
    <span style="color: #fff; background-color: #3e3e3e; padding: 2% 6%;">My Meeting</span>

    <a routerLink="schedulemeeting" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/scheduled meeting_icon.svg" width="10%">&nbsp;
      <span>Scheduled Meeting <span class="badge badge-info">6</span></span>
    </a>
    <a routerLink="followupmeeting" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/Lead meeting _icon.svg" width="10%">&nbsp;
      <span>Followup Meeting <span class="badge badge-info">6</span></span>
    </a>
    <a routerLink="closed" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/closed_icon.svg" width="10%">&nbsp;
      <span>Closed</span>
    </a>
    <a routerLink="dropped" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/dropped_icon.svg" width="10%">&nbsp;
      <span>Dropped</span>
    </a>
  </div>

  <!-- Avalibiltity Mangaemnent-->
  <div class="list-group">
    <span style="color: #fff; padding: 2% 6%; background-color: #3e3e3e;">Avalibiltity Mangaemnent</span>
    <a routerLink="leadmeeting" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/Lead meeting _icon.svg" width="10%">&nbsp;
      <span>Lead meeting</span>
    </a>
    <a routerLink="project" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img class="fa-fw" src="../../../assets/images/dashboard-logos/project _icon.svg" width="10%">&nbsp;
      <span>Project</span>
    </a>
  </div>

  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <span>Collapse</span>
  </div>
</nav>