.dropdownclass{
    width:60%;
}
.pad{
    padding: 0%;
}
.tableclass{
    border: 1px solid silver;
}
.table-row{
    text-align: -webkit-center;
}
.theadclass{
    background-color: #fafaf7;
    color: #3e3e3e;
}
.button-class{
    background-color: #17a2b8;
    border-color: none;
}