
<!-- Common visible scheduled meeting table -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="table table-hover tableclass">
                <thead class="theadclass">
                    <tr class="table-row">
                        <th scope="col">Enquiry id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Region</th>
                        <th scope="col">Status</th>
                        <th scope="col">Designer Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Bangalore</td>
                        <td>
                            <span class="badge badge-info">SM</span>
                        </td>
                        <td>Designer</td>
                    </tr>
                    <tr class="table-row">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Bangalore</td>
                        <td></td>
                        <td>Designer</td>   
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
  <!-- Modal qualified lead popup -->
  <div class="modal fade" id="QualifiedLead" tabindex="-1" role="dialog" aria-labelledby="QualifiedLead"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Scheduled Meeting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!-- username input -->
          <div class="form-group row">
            <label for="staticName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="staticName" placeholder="username">
            </div>
          </div>
          <!-- email input -->
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="staticEmail" placeholder="email@example.com">
            </div>
          </div>
          <!-- telephone input -->
          <div class="form-group row">
            <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
            <div class="col-10">
              <input class="form-control" type="tel" value="(+91)-900500400" id="example-tel-input">
            </div>
          </div>
          <hr/>
          <!-- date/time input -->
          <div class="form-group row">
            <label for="example-datetime-local-input" class="col-2 col-form-label">Date/time</label>
            <div class="col-10">
              <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                id="example-datetime-local-input">
            </div>
          </div>
          <!-- cities input -->
          <div class="form-group row">
            <label for="example-datetime-local-input" class="col-2 col-form-label">Location</label>
            <div class="col-10">
              <div class="form-group col-md-6 pad" >
                <select class="form-control dropdownclass" id="sel1">
                  <option id="sel1">New Delhi</option>
                  <option>Bangalore</option>
                  <option>Mumbai</option>
                  <option>Hyderabad</option>
                </select>
              </div>
            </div>
          </div>
          <!-- status input -->
          <div class="form-group row">
            <label for="example-datetime-local-input" class="col-2 col-form-label">Status</label>
            <div class="col-10">
              <div class="form-group col-md-6 pad" >
                <select class="form-control dropdownclass" id="sel1">
                  <option id="sel1">New</option>
                  <option>Scheduled Meetings</option>
                  <option>Closed</option>
                  <option>Dropped</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary button-class">Create</button>
      </div>
    </div>
  </div>
  </div>
  
  <!-- Common visible scheduled meeting table end -->
  
  <!-- Designer scheduled meeting table -->
  
  
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <table class="table table-hover tableclass">
                  <thead class="theadclass">
                      <tr class="table-row">
                          <th scope="col">Enquiry id</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Region</th>
                          <th scope="col">Status</th>
                          <th scope="col">Edit</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="table-row">
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>Bangalore</td>
                          <td>
                              <span class="badge badge-info">SM</span>
                          </td>
                          <td>
                            <button class="btn btn-primary button-class" type="submit" data-toggle="modal" data-target="#QualifiedLead">Action</button>
                          </td>
                      </tr>
                      <tr class="table-row">
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>Bangalore</td>
                          <td></td>
                          <td></td>   
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
    
    <!-- Modal qualified lead popup -->
    <div class="modal fade" id="QualifiedLead" tabindex="-1" role="dialog" aria-labelledby="QualifiedLead"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Scheduled Meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!-- username input -->
            <div class="form-group row">
              <label for="staticName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="staticName" placeholder="username">
              </div>
            </div>
            <!-- email input -->
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="staticEmail" placeholder="email@example.com">
              </div>
            </div>
            <!-- telephone input -->
            <div class="form-group row">
              <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
              <div class="col-10">
                <input class="form-control" type="tel" value="(+91)-900500400" id="example-tel-input">
              </div>
            </div>
            <hr/>
            <!-- date/time input -->
            <div class="form-group row">
              <label for="example-datetime-local-input" class="col-2 col-form-label">Date/time</label>
              <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                  id="example-datetime-local-input">
              </div>
            </div>
            <!-- cities input -->
            <div class="form-group row">
              <label for="example-datetime-local-input" class="col-2 col-form-label">Location</label>
              <div class="col-10">
                <div class="form-group col-md-6 pad" >
                  <select class="form-control dropdownclass" id="sel1">
                    <option id="sel1">New Delhi</option>
                    <option>Bangalore</option>
                    <option>Mumbai</option>
                    <option>Hyderabad</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- status input -->
            <div class="form-group row">
              <label for="example-datetime-local-input" class="col-2 col-form-label">Status</label>
              <div class="col-10">
                <div class="form-group col-md-6 pad" >
                  <select class="form-control dropdownclass" id="sel1">
                    <option id="sel1">New</option>
                    <option>Scheduled Meetings</option>
                    <option>Closed</option>
                    <option>Dropped</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary button-class">Create</button>
        </div>
      </div>
    </div>
    </div>
  
    <!-- Designer scheduled meeting end -->